<!DOCTYPE html>
<html>
<head>
    <title>p - minimalistic image service.</title>
    <style>
        body {
            background-color: #1d1e1a;
        }
        .upload{
            width: 20%;

            margin-top: 15vh;
            margin-left: auto;
            margin-right: auto;

        }
    </style>
</head>
<body>

<div class = "upload">
    <form enctype="multipart/form-data" method="POST">
        <input type="file" name="image">
        <input type="submit">
    </form>
</div>

</body>
</html>